---
import Header from '../components/home/partials/Header.astro'
import Layout from '../layouts/Layout.astro';
import Latest from '../components/blog/LatestBlogs.astro';
import Canvas  from '../components/home/3d/Canvas.jsx';
---

<Layout title="Mediumn">
	<Header />
	<main>
		<h1>
			DEDIUMN<span>.dev</span>
		</h1>
		<p>The modern blog for Angular Developers</p>
		<div class="badge">
			by <a href="https://github.com/johngualteros">john.dev</a>
		</div>
		<button class="gradient-button">
			Create a free account
		</button>
	</main>
	<div class="container-moon">
		<Canvas client:load/>
		<div class="mision-container">
			<h1>DEDICATED FOR ANGULAR DEVELOPERS</h1>
			<div class="paragraph">
				<p>
					We are a community of developers who love Angular and we want to share
					our knowledge with the world.
	
					Our Mission is to create a place where Angular developers can share
					their knowledge and learn from each other.
	
					With the best practices and the latest technologies, we want to help
				</p>
			</div>
		</div>
	</div>
	<Latest />
	<!-- subscribe -->
	<section class="subscribe-section">
		<div class="subscribe-container">
			<h1>Subscribe to Deviumn Updates</h1>
			<p>
				A newsletter from Deviumn covering engineering and technology to help specialized for Angular Developers. and updated from the community
			</p>
			<div class="subscribe-form">
				<input type="text" placeholder="Write yor email here" />
				<button>Subscribe</button>
			</div>
		</div>
	</section>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto:wght@300;400;900&display=swap');
	main {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	h1 {
		font-family: 'Nova Square', sans-serif;
		font-size: 7rem;
		color: #f9f4da;
		margin-bottom: 20px;
	}

	span {
		color: #008BFF;
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		font-size: 5rem;
	}

	p {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.5rem;
		color: #f9f4da;
	}

	.badge {
		background-color: #1a1a1a;
		padding: 10px 20px;
		border-radius: 5px;
		margin-top: 20px;
		color: #fff;
		> a {
			color: #008BFF;
		}
	}

	.container-moon {
		height: auto;
		display: grid;
		grid-template-columns: 40% auto;
		grid-template-rows: 1fr;

		.mision-container {
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 30px;

			> h1 {
				font-size: 5rem;
				text-transform: uppercase;
				background-image: linear-gradient(
					-225deg,
					#008BFF 0%,
					#1300FF 29%,
					#2960a3 67%,
					#0FE7F5 100%
				);
				background-size: auto auto;
				background-clip: border-box;
				background-size: 200% auto;
				color: #fff;
				background-clip: text;
				text-fill-color: transparent;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				animation: textclip 2s linear infinite;
				display: inline-block;
			}

			.paragraph {
				padding: 0px 120px 0px 0px;
				> p {
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
					 font-size: 1.2rem;
					color: #f9f4da;
					line-height: 30px;
				}
			}
		}
	}
	.gradient-button {
		border: 2px solid #008BFF;
		padding: 15px 20px;
		border-radius: 10px;
		margin-top: 20px;
		color: #fff;
		background-color: rgba(0, 139, 255, 0.2);
		font-size: 1rem;
		cursor: pointer;
	}
	@keyframes textclip {
		to {
			background-position: 200% center;
		}
	}

	.subscribe-section {
		background-color: #1a1a1a;
		padding: 50px 0px;
		text-align: center;
		.subscribe-container {
			width: 80%;
			margin: 0 auto;
			> h1 {
				font-family: 'Nova Square', sans-serif;
				font-size: 2rem;
				color: #fff;
				margin-bottom: 20px;
			}

			> p {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				font-size: 1rem;
				color: #949494;
				margin-bottom: 20px;
				max-width: 50%;
				margin: 0 auto;
			}

			.subscribe-form {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 450px;
				margin: 40px auto 20px auto;
				padding: 10px 20px;
				border: 1px solid #96DCFF;
				border-radius: 40px;

				> input {
					width: 70%;
					border: none;
					outline: none;
					background-color: transparent;
					color: #fff;
					font-size: 1rem;
				}

				> button {
					width: 30%;
					border: none;
					outline: none;
					background-color: #008BFF;
					color: #fff;
					font-size: 1rem;
					padding: 10px 20px;
					border-radius: 40px;
					cursor: pointer;
				}
			}
		}
	}
</style>